/.laya/chrome
/bin/res
/bin/test
/bin/sounds
/bin/unityRes
/bin/fileconfig.json
/bin/index.html
/bin/index.js
/bin/unpack.json
/bin/version.json
/bin/comp
/bin/js
/bin/load
/bin/panel
/bin/game
/bin/fui
/release
/bin/configfile
/src/fui
/bin/fairyguiRes
/laya/assets/unityRes/LayaScene_HuntScene
/.laya/pubset.json
